.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    min-width: 40%;
    caret-color:red;
    transition: width 0.4s linear;
    cursor: text;
    }

  .searchbar > input, select {
      padding-right: 7%;
      border: 1px solid rgb(87, 86, 86);
  }

 .select1, .select2,.select3 {
    border: 1px solid rgb(112, 111, 111) !important;
}
    .search_icon{
        height: 40px;
        width: 5%;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration:none;
        border-radius: 4px !important;
        cursor: pointer;
        margin-top:5px  !important;
        position: relative;
        left: -40px;
        border-radius: 0px !important;

    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .inputfile + label {
        color: white !important;
        background-color:#2CA8FF;
        display: inline-block;
        padding:5px 30px 10px 30px;
        border-radius: 25px;
    }

